* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  height: 710vh;
}
main .page1 {
  background-image: url(../images/fondo1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: polygon(50% 100%, 0 65%, 0 0, 100% 0, 100% 65%);
  height: 130vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
main .page1 img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}
main .page1 h1 {
  text-align: center;
  margin-top: 30px;
  color: #173673;
  text-shadow: 1px 2px 2px #000;
  font-size: 3rem;
}
main .page1 p {
  margin-top: 8px;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.466);
}
main .page2 {
  height: 200vh;
  clip-path: polygon(50% 50%, 100% 19%, 100% 76%, 0 100%, 0 19%);
  transform: translate(0%, -50%);
  background-color: #fff;
}
main .page2 .divtitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 40px 0;
  font-size: 1.5rem;
}
main .page2 .divtitle h2 {
  padding-top: 50%;
  color: #173673;
  text-shadow: 1px 2px 2px #000;
}
main .page2 .divp {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  padding: 0 20px;
  text-align: center;
}
main .page2 .divp p {
  color: #000;
}
main .page2 .btn {
  text-align: center;
  margin-top: 70px;
}
main .page2 .btn input {
  padding: 1%;
  font-size: 18px;
  text-transform: uppercase;
}
main .page3 {
  height: 200vh;
  width: 100%;
  clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 75%);
  transform: translate(0, -74%);
  background-image: url(../images/fondo2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
main .page3 .divcity {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 16%;
}
main .page3 .divcity img {
  width: 80px;
  height: 80px;
}
main .page3 .divcity h3 {
  text-align: center;
  padding: 40px 0;
  font-size: 2rem;
  color: #173673;
  text-shadow: 1px 2px 2px #000;
}
main .page3 .divcity p {
  padding: 0 50px;
  text-align: center;
  font-size: 18px;
}
main .page3 .divimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .page3 .divimg .divimg1, main .page3 .divimg .divimg3, main .page3 .divimg .divimg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
main .page3 .divimg .divimg1 img, main .page3 .divimg .divimg3 img, main .page3 .divimg .divimg2 img {
  width: 300px;
  height: 300px;
}
main .page3 .divimg .divimg1 p, main .page3 .divimg .divimg3 p, main .page3 .divimg .divimg2 p {
  width: 300px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(102, 102, 102, 0.17), rgba(0, 0, 0, 0.17));
}
main .page3 .divimg .divimg1 input, main .page3 .divimg .divimg3 input, main .page3 .divimg .divimg2 input {
  padding: 3%;
  font-size: 18px;
  text-transform: uppercase;
}
main .page4 {
  height: 150vh;
  clip-path: polygon(0 0, 100% 33%, 100% 75%, 0 100%);
  transform: translate(0, -132%);
  background-color: #012066;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .page4 h3 {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
  font-size: 3rem;
  color: #F27244;
  text-shadow: 1px 2px 2px #000;
}
main .page4 .container {
  padding-top: 15%;
  width: 850px;
  padding: 20px;
}
main .page4 .container .slider {
  position: relative;
  width: 800px;
  height: 500px;
}
main .page4 .container .slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}
main .page4 .container .slider li:first-child {
  opacity: 1;
}
main .page4 .container .slider li:target {
  opacity: 1;
}
main .page4 .container .slider li img {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  object-fit: contain;
}
main .page4 .container .slider li #img1:hover:first-child {
  position: absolute;
  width: 80%;
  height: 80%;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
  background-color: #a52a2a;
}
main .page4 .container .slider li:hover:first-child {
  position: absolute;
  width: 80%;
  height: 80%;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
  background-color: #a52a2a;
  z-index: 2;
}
main .page4 .menu {
  text-align: center;
  margin: 20px;
}
main .page4 .menu li {
  display: inline-block;
}
main .page4 .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 100%;
}
main .page5 {
  height: 150vh;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 25%);
  background-color: #000;
  transform: translate(0, -158%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .page5 h4 {
  text-align: center;
  padding-top: 16%;
  font-size: 3rem;
  color: #F27244;
  text-shadow: 1px 2px 2px #000;
  padding-bottom: 7%;
}
main .page5 .animales {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
main .page5 .animales .roberta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .page5 .animales .roberta #roberta {
  width: 400px;
  height: auto;
  padding-bottom: 2%;
  z-index: 2;
}
main .page5 .animales .roberta p {
  width: 65%;
  text-align: center;
  color: #fff;
  padding: 3%;
  font-size: 18px;
}
main .page5 .animales .roberta .border1 {
  border: 4px dashed #F27244;
  width: 400px;
  height: 241.64px;
  z-index: 1;
  position: absolute;
  transform: translate(50px, -50px);
}
main .page5 .animales .pepe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .page5 .animales .pepe #pepe {
  width: 405px;
  height: 241.64px;
  padding-bottom: 2%;
  z-index: 2;
}
main .page5 .animales .pepe p {
  width: 65%;
  color: #fff;
  text-align: center;
  padding: 3%;
  font-size: 18px;
}
main .page5 .animales .pepe .border2 {
  border: 4px dashed #F27244;
  width: 400px;
  height: 241.64px;
  z-index: 1;
  position: absolute;
  transform: translate(-50px, -50px);
}
main .page5 input {
  margin-top: 8%;
  padding: 1%;
  font-size: 18px;
  text-transform: uppercase;
}
main .page6 {
  height: 150vh;
  background-color: #a52a2a;
  clip-path: polygon(50% 20%, 100% 0%, 100% 100%, 0 100%, 0 0);
  transform: translate(0, -178%);
}
main .page6 .right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding-top: 500px;
  height: 100%;
}
main .page6 .right .trianguloizq {
  clip-path: polygon(0 0, 100% 100%, 0 100%, 0% 50%);
  background-color: #173673;
  width: 500px;
  height: 400px;
  transform: translate(500px, 0);
}
main .page6 .right .trianguloder {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
  background-color: #000;
  width: 800px;
  height: 700px;
  transform: translate(200px, 0);
}
main .page6 .right .triangulocierre {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: #fff;
  width: 1000px;
  height: 500px;
  transform: translate(-500px, -100px);
}

/*# sourceMappingURL=style.css.map */
