* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 800vh;

    .page1 {
        background-image: url(../images/fondo1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        clip-path: polygon(50% 100%, 0 65%, 0 0, 100% 0, 100% 65%);
        height: 130vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        img {
            height: 80px;
            width: 80px;
            margin-top: 10px;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            color: rgba(255, 182, 85);
            text-shadow: 1px 2px 2px #000;
            font-size: 3rem;
        }

        p {
            margin-top: 8px;
            font-size: 1.2rem;
            text-align: center;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.466);
        }
    }

    .page2 {
        height: 200vh;
        clip-path: polygon(50% 50%, 100% 19%, 100% 76%, 0 100%, 0 19%);
        transform: translate(-0%, -50%);
        background-color: rgb(1, 32, 102);

        .divtitle {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            padding: 40px 0;
            font-size: 1.5rem;

            h2 {
                padding-top: 50%;
                color: rgba(255, 182, 85);
                text-shadow: 1px 2px 2px #000;
            }
        }

        .divp {
            display: flex;
            flex-direction: row;
            column-gap: 25px;
            padding: 0 20px;
            text-align: center;

            p {
                color: #fff;
            }
        }

        .btn {
            text-align: center;
            margin-top: 70px;

            input {
                padding: 1%;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }

    .page3 {
        height: 200vh;
        width: 100%;
        clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 75%);
        transform: translate(0, -74%);
        background-image: url(../images/fondo2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;

        .divcity {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 16%;

            img {
                width: 80px;
                height: 80px;
            }

            h3 {
                text-align: center;
                padding: 40px 0;
                font-size: 2rem;
            }

            p {
                padding: 0 50px;
                text-align: center;
                font-size: 18px;
            }
        }

        .divimg {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .divimg1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                gap: 25px;

                img {
                    width: 300px;
                    height: 300px;
                }

                p {
                    width: 300px;
                    font-size: 1.2rem;
                    text-align: center;
                    color: #fff;
                    background: linear-gradient(rgba(102, 102, 102, 0.17), rgba(0, 0, 0, 0.17));
                }

                input {
                    padding: 3%;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }

            .divimg2 {
                @extend .divimg1;
            }

            .divimg3 {
                @extend .divimg1;
            }
        }
    }

    .page4 {
        height: 150vh;
        clip-path: polygon(0 0, 100% 33%, 100% 75%, 0 100%);
        transform: translate(0, -132%);
        background-color: rgb(1, 32, 102);
        display: flex;
        align-items: center;
        flex-direction: column;
        h3 {
            text-align: center;
            padding-top: 20%;
            // padding-bottom: 5%;
            font-size: 3rem;
            color: rgba(255, 182, 85);
            text-shadow: 1px 2px 2px #000;
        }
        .divcarousel{
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 40%;
            width: 42%; 
            border: 2px solid red;
            overflow: hidden;
            img{
                animation: julieta 7s linear infinite;
            }
            p{
                animation: julieta 7s linear infinite;
            }
            button{
                background-color: rgb(1, 32, 102);
                border: none;
            }
            .guide1{
                padding: 4%;
                img{
                    width: 140px;
                    height: 140px;
                    border: 2px solid #fff;
                    border-radius: 70px;
                }
                p{
                    font-size: 20px;
                    padding-top: 5%
                }
            }
            .guide2{
                padding: 4%;
                img{
                    width: 140px;
                    height: 140px;
                    border: 2px solid #fff;
                    border-radius: 70px;
                }
                p{
                    font-size: 20px;
                    padding-top: 5%
                }
            }
            .guide3{
                padding: 4%;
                img{
                    width: 140px;
                    height: 140px;
                    border: 2px solid #fff;
                    border-radius: 70px;
                }
                p{
                    font-size: 20px;
                    padding-top: 5%
                }
            }
        }
        input{
            padding: 1%;
            font-size: 18px;
            text-transform: uppercase;
        }
        @keyframes julieta{
            0%{
                transform: translate(0px);
            }
            25%{
                transform: translate(570px);
            }
            50%{
                transform: translate(570px, -1200px);
            }
            75%{
                transform: translate(-570px, -1200px);
            }
            100%{
                transform: translate(0-570px);
            }
        }
    }
    .page4{
        color: #000;
    }
}